.b-bottom{
    border-bottom: 1px solid #a9a8a863;
}
p{
    line-height: 25px;
}
.home-highlighter li:last-child{
    border-bottom: 1.5px solid #a9a8a8cf;
    margin-bottom: 30px;
}
.rating svg{
    color: #3fef14;
}
.linear-bg{
    background: linear-gradient(to right,#2BDE8C, #86F244);
    font-weight: 600;
}